[Interface]
PrivateKey = {{ wg_node_privkey }}
Address = {{ node_wg_ip }}/24

[Peer]
PublicKey = {{ wg_server_pubkey }}
# FIX: Dynamisches Inventar nutzt jetzt zwingend die externe Host-IP des SOC-Hubs statt der internen VPN-IP
Endpoint = {{ hostvars['soc_server']['ansible_host'] }}:{{ wg_port }}
AllowedIPs = 10.100.0.0/24
PersistentKeepalive = 25
