[Interface]
PrivateKey = {{ wg_node_privkey }}
Address = {{ node_wg_ip }}/24

[Peer]
PublicKey = {{ wg_server_pubkey }}
Endpoint = {{ soc_hub_public_ip }}:{{ wg_port }}
AllowedIPs = 10.100.0.0/24
PersistentKeepalive = 25
